﻿@model WebApplication1.ViewModel.BMIData

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="post" action="/BMI/Index">
    身高 @Html.TextBoxFor(dd => dd.Height) 公分 @ViewBag.Herror @Html.ValidationMessageFor(f => f.Height) <br />
    體重 @Html.TextBoxFor(dd => dd.Weight)公斤  @ViewBag.Werror @Html.ValidationMessageFor(f => f.Weight)<br />
    <input type="submit" name="name" value="送出" />
</form>
<br />
計算結果： @Model.BMI <br />
等級： @Model.Level
